*{
    margin: 0;
    padding: 0;
   
}
body{
    background: #000000;
    font-family: 'roboto', sans-serif;
}

#navbar{
    width: 100%;
    height: 60px;
    top: 0;
    display: flex;
    position: fixed;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background: #000000;
}
.logo-navbar {
    color: #df0000;
    text-shadow: 0 5px 10px rgba(255, 255, 255, 0.795);
    font-size: 30px;
}
.link-navbar{
    flex: 1;
    text-align: right;
}
.link-navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
.link-navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}